<% if signed_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section>
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="col-md-8">
        <%= render 'shared/feed'%>
      </div>
    </div>
<% else %>
    <div class="hero-unit">
      <h1>Ruby on Rails Tutorial</h1>


      <p>Создание приложения по этой книге помогло мне разобраться во всех тонкостях разработки подобия Твиттера с безопасной авторизацией и поддержкой сессий пользователей (не используя сторонние гемы авторизации).
      </br>Включает в себя:
        <ul>
          <li>- большое количество программирования через тесты;</li>
          <li>- проводит через все шаги от добавления валидаций и создания различных моделей (user, micropost and session) до работы с паршелами и проведения информации через различные классы и обработчики ошибок;</li>
        </ul>
      </p>

      <div class="center">
        <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
        </br></br>
        <h2>To look how it works you can use login: <b>user1@test.com</b> and pass: <b>foobar</b></h2>
        <%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" %>
      </div>


    </div>

    <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>